<a href="https://colab.research.google.com/github/larissafcerqueira/Tratamento_Dados_Projeto/blob/main/Tratamento_dados_projeto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tratamento base km rodado**

link csv km_rodado:

https://docs.google.com/spreadsheets/d/1vsfv9wkOKm2TCB0BIAHHl_Jj3b5H6IWe/edit?usp=sharing&ouid=106799284520595176840&rtpof=true&sd=true

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/fkmrodado.xlsx - fKmRodado.csv')
display(df)

,Mês,ID Veiculo,Km percorridos,Gasto com Combustível,Manut.,Custos Fixos
0,1/1/2018,1,681,"953,4",722,18
1,1/1/2018,2,68,340,289,357
2,1/1/2018,3,314,"659,4",205,771
3,1/1/2018,4,346,"1072,6",960,632
4,1/1/2018,5,850,2125,141,770
...,...,...,...,...,...,...
1195,12/1/2019,46,405,"1903,5",716,713
1196,12/1/2019,47,925,"2127,5",670,278
1197,12/1/2019,48,879,879,808,121
1198,12/1/2019,49,17,"3,4",460,337
1199,12/1/2019,50,719,"575,2",936,391

In [ ]:
#renomeando coluna tirando espaços e acentos

df.rename(columns={'Mês':'mes','ID Veiculo':'id_veiculo','Km percorridos':'km_percorridos', 'Gasto com Combustível':'valor_combustivel', 'Manut.':'Manutencao', 'Custos Fixos': 'custos_fixos'
                   },inplace=True)
df.head(1)

,mes,id_veiculo,km_percorridos,valor_combustivel,Manutencao,custos_fixos
0,1/1/2018,1,681,"953,4",722,18

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   mes                1200 non-null   object
 1   id_veiculo         1200 non-null   int64
 2   km_percorridos     1200 non-null   int64
 3   valor_combustivel  1200 non-null   object
 4   Manutencao         1200 non-null   int64
 5   custos_fixos       1200 non-null   int64
 6   data_corrigida     1200 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 65.8+ KB

In [ ]:
df['valor_combustivel'] = df['valor_combustivel'].astype('string')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   mes                1200 non-null   object
 1   id_veiculo         1200 non-null   int64
 2   km_percorridos     1200 non-null   int64
 3   valor_combustivel  1200 non-null   string
 4   Manutencao         1200 non-null   int64
 5   custos_fixos       1200 non-null   int64
 6   data_corrigida     1200 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(1), string(1)
memory usage: 65.8+ KB

In [ ]:
#verificando duplicatas

df.duplicated().any()

False

In [ ]:
df['data_corrigida'] = pd.to_datetime(df['mes'], format='%m/%d/%Y')

# Verificando o DataFrame com a data corrigida
print(df)

            mes  id_veiculo  km_percorridos valor_combustivel  Manutencao  \
0      1/1/2018           1             681             953,4         722
1      1/1/2018           2              68               340         289
2      1/1/2018           3             314             659,4         205
3      1/1/2018           4             346            1072,6         960
4      1/1/2018           5             850              2125         141
...         ...         ...             ...               ...         ...
1195  12/1/2019          46             405            1903,5         716
1196  12/1/2019          47             925            2127,5         670
1197  12/1/2019          48             879               879         808
1198  12/1/2019          49              17               3,4         460
1199  12/1/2019          50             719             575,2         936

      custos_fixos data_corrigida
0               18     2018-01-01
1              357     2018-01-01
2              771     2018-01-01
3              632     2018-01-01
4              770     2018-01-01
...            ...            ...
1195           713     2019-12-01
1196           278     2019-12-01
1197           121     2019-12-01
1198           337     2019-12-01
1199           391     2019-12-01

[1200 rows x 7 columns]

In [ ]:
#dropando coluna com data errada

df = df.drop(columns=['mes'])

In [ ]:
# Construir colunas de ano, mes e dia para facilitar o agrupamento posterior
df['ano'] = df['data_corrigida'].dt.year
df['mes'] = df['data_corrigida'].dt.month
df['dia'] = df['data_corrigida'].dt.day

print(df)

      id_veiculo  km_percorridos valor_combustivel  Manutencao  custos_fixos  \
0              1             681             953,4         722            18
1              2              68               340         289           357
2              3             314             659,4         205           771
3              4             346            1072,6         960           632
4              5             850              2125         141           770
...          ...             ...               ...         ...           ...
1195          46             405            1903,5         716           713
1196          47             925            2127,5         670           278
1197          48             879               879         808           121
1198          49              17               3,4         460           337
1199          50             719             575,2         936           391

     data_corrigida   ano  mes  dia
0        2018-01-01  2018    1    1
1        2018-01-01  2018    1    1
2        2018-01-01  2018    1    1
3        2018-01-01  2018    1    1
4        2018-01-01  2018    1    1
...             ...   ...  ...  ...
1195     2019-12-01  2019   12    1
1196     2019-12-01  2019   12    1
1197     2019-12-01  2019   12    1
1198     2019-12-01  2019   12    1
1199     2019-12-01  2019   12    1

[1200 rows x 9 columns]

In [ ]:
display(df)

,mes,id_veiculo,km_percorridos,valor_combustivel,Manutencao,custos_fixos,data_corrigida,ano,dia
0,1,1,681,"953,4",722,18,2018-01-01,2018,1
1,1,2,68,340,289,357,2018-01-01,2018,1
2,1,3,314,"659,4",205,771,2018-01-01,2018,1
3,1,4,346,"1072,6",960,632,2018-01-01,2018,1
4,1,5,850,2125,141,770,2018-01-01,2018,1
...,...,...,...,...,...,...,...,...,...
1195,12,46,405,"1903,5",716,713,2019-12-01,2019,1
1196,12,47,925,"2127,5",670,278,2019-12-01,2019,1
1197,12,48,879,879,808,121,2019-12-01,2019,1
1198,12,49,17,"3,4",460,337,2019-12-01,2019,1
1199,12,50,719,"575,2",936,391,2019-12-01,2019,1

In [ ]:
#salvando em CSV
df.to_csv('dados_corrigidos_kmrodados.csv', index=False)

#Tratamento base frete

link csv frete:

https://docs.google.com/spreadsheets/d/1DEcQ0I21-JNYF8tP2bZeDkLQBQLSwJ7B/edit?usp=sharing&ouid=106799284520595176840&rtpof=true&sd=true

In [ ]:
frete = pd.read_csv('/content/ffrete.xlsx - fFrete.csv')
display(frete)

,Data,ID Cliente,ID Veiculo,Numero Documento Fiscal,Viagem,Valor do Frete Líquido,Peso (KG),Valor da Mercadoria
0,1/1/2018,159,11,945693,01/01/2018-RIV-3153,"2625,98","48,65","23371,222"
1,1/2/2018,292,12,161542,02/01/2018-RCU-1767,"977,9","366,06","4693,92"
2,1/3/2018,543,6,357544,03/01/2018-TGY-1709,"292,03","490,26","700,872"
3,1/4/2018,53,12,498247,04/01/2018-RCU-1767,"423,45","507,44","3429,945"
4,1/5/2018,166,23,770040,05/01/2018-SEL-4612,"4487,14","479,52","14358,848"
...,...,...,...,...,...,...,...,...
80496,7/16/2018,209,28,744259,16/07/2018-SDW-3162,"747,62","552,14","6205,246"
80497,7/17/2018,233,42,896113,17/07/2018-TCY-4657,"1546,28","589,76","6803,632"
80498,7/18/2018,654,21,503155,18/07/2018-RHM-7270,"4268,13","581,96","40547,235"
80499,7/19/2018,68,33,671646,19/07/2018-SAX-9434,"3179,45","538,75","7312,735"
80500,7/20/2018,796,28,333320,20/07/2018-SDW-3162,"2027,19","412,35","11352,264"

In [ ]:
frete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80501 entries, 0 to 80500
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Data                     80501 non-null  object
 1   ID Cliente               80501 non-null  int64
 2   ID Veiculo               80501 non-null  int64
 3   Numero Documento Fiscal  80501 non-null  int64
 4   Viagem                   80501 non-null  object
 5   Valor do Frete Líquido   80501 non-null  object
 6   Peso (KG)                80501 non-null  object
 7   Valor da Mercadoria      80501 non-null  object
dtypes: int64(3), object(5)
memory usage: 4.9+ MB

In [ ]:
#renomeando coluna tirando espaços e acentos

frete.rename(columns={'Data':'data','ID Cliente':'ID_Cliente','ID Veiculo':'id_veiculo', 'Numero Documento Fiscal':'notafiscal', 'Viagem':'viagem', 'Valor do Frete Líquido':'valor_frete_liquido',
                       'Peso (KG)':'kg', 'Valor da Mercadoria':'valor_mercadoria'
                   },inplace=True)
frete.head(1)

,data,ID_Cliente,id_veiculo,notafiscal,viagem,valor_frete_liquido,kg,valor_mercadoria
0,1/1/2018,159,11,945693,01/01/2018-RIV-3153,"2625,98","48,65","23371,222"

In [ ]:
frete['valor_mercadoria'] = frete['valor_mercadoria'].str.replace(',', '.', regex=False)

In [ ]:
frete['valor_mercadoria'] = pd.to_numeric(frete['valor_mercadoria'], errors='coerce')

In [ ]:
frete['valor_mercadoria'] = frete['valor_mercadoria'].round(2)

In [ ]:
print(frete)

            data  ID_Cliente  id_veiculo  notafiscal               viagem  \
0       1/1/2018         159          11      945693  01/01/2018-RIV-3153
1       1/2/2018         292          12      161542  02/01/2018-RCU-1767
2       1/3/2018         543           6      357544  03/01/2018-TGY-1709
3       1/4/2018          53          12      498247  04/01/2018-RCU-1767
4       1/5/2018         166          23      770040  05/01/2018-SEL-4612
...          ...         ...         ...         ...                  ...
80496  7/16/2018         209          28      744259  16/07/2018-SDW-3162
80497  7/17/2018         233          42      896113  17/07/2018-TCY-4657
80498  7/18/2018         654          21      503155  18/07/2018-RHM-7270
80499  7/19/2018          68          33      671646  19/07/2018-SAX-9434
80500  7/20/2018         796          28      333320  20/07/2018-SDW-3162

      valor_frete_liquido      kg  valor_mercadoria
0                 2625,98   48,65          23371.22
1                   977,9  366,06           4693.92
2                  292,03  490,26            700.87
3                  423,45  507,44           3429.94
4                 4487,14  479,52          14358.85
...                   ...     ...               ...
80496              747,62  552,14           6205.25
80497             1546,28  589,76           6803.63
80498             4268,13  581,96          40547.24
80499             3179,45  538,75           7312.74
80500             2027,19  412,35          11352.26

[80501 rows x 8 columns]

In [ ]:
#tratando coluna viagem

frete[['data_viagem', 'placa_veiculo']] = frete['viagem'].str.split('-', n=1, expand=True)

# Verificando o resultado
print(frete)

            data  ID_Cliente  id_veiculo  notafiscal               viagem  \
0       1/1/2018         159          11      945693  01/01/2018-RIV-3153
1       1/2/2018         292          12      161542  02/01/2018-RCU-1767
2       1/3/2018         543           6      357544  03/01/2018-TGY-1709
3       1/4/2018          53          12      498247  04/01/2018-RCU-1767
4       1/5/2018         166          23      770040  05/01/2018-SEL-4612
...          ...         ...         ...         ...                  ...
80496  7/16/2018         209          28      744259  16/07/2018-SDW-3162
80497  7/17/2018         233          42      896113  17/07/2018-TCY-4657
80498  7/18/2018         654          21      503155  18/07/2018-RHM-7270
80499  7/19/2018          68          33      671646  19/07/2018-SAX-9434
80500  7/20/2018         796          28      333320  20/07/2018-SDW-3162

      valor_frete_liquido      kg  valor_mercadoria data_viagem placa_veiculo
0                 2625,98   48,65          23371.22  01/01/2018      RIV-3153
1                   977,9  366,06           4693.92  02/01/2018      RCU-1767
2                  292,03  490,26            700.87  03/01/2018      TGY-1709
3                  423,45  507,44           3429.94  04/01/2018      RCU-1767
4                 4487,14  479,52          14358.85  05/01/2018      SEL-4612
...                   ...     ...               ...         ...           ...
80496              747,62  552,14           6205.25  16/07/2018      SDW-3162
80497             1546,28  589,76           6803.63  17/07/2018      TCY-4657
80498             4268,13  581,96          40547.24  18/07/2018      RHM-7270
80499             3179,45  538,75           7312.74  19/07/2018      SAX-9434
80500             2027,19  412,35          11352.26  20/07/2018      SDW-3162

[80501 rows x 10 columns]

In [ ]:
#dropando coluna viagem

frete = frete.drop(columns=['viagem'])

In [ ]:
frete['date_viagem'] = pd.to_datetime(frete['data_viagem'], format='%d/%m/%Y')

# Verificando o DataFrame com a data corrigida
print(frete)

            data  ID_Cliente  id_veiculo  notafiscal valor_frete_liquido  \
0       1/1/2018         159          11      945693             2625,98
1       1/2/2018         292          12      161542               977,9
2       1/3/2018         543           6      357544              292,03
3       1/4/2018          53          12      498247              423,45
4       1/5/2018         166          23      770040             4487,14
...          ...         ...         ...         ...                 ...
80496  7/16/2018         209          28      744259              747,62
80497  7/17/2018         233          42      896113             1546,28
80498  7/18/2018         654          21      503155             4268,13
80499  7/19/2018          68          33      671646             3179,45
80500  7/20/2018         796          28      333320             2027,19

           kg  valor_mercadoria data_viagem placa_veiculo date_viagem
0       48,65          23371.22  01/01/2018      RIV-3153  2018-01-01
1      366,06           4693.92  02/01/2018      RCU-1767  2018-01-02
2      490,26            700.87  03/01/2018      TGY-1709  2018-01-03
3      507,44           3429.94  04/01/2018      RCU-1767  2018-01-04
4      479,52          14358.85  05/01/2018      SEL-4612  2018-01-05
...       ...               ...         ...           ...         ...
80496  552,14           6205.25  16/07/2018      SDW-3162  2018-07-16
80497  589,76           6803.63  17/07/2018      TCY-4657  2018-07-17
80498  581,96          40547.24  18/07/2018      RHM-7270  2018-07-18
80499  538,75           7312.74  19/07/2018      SAX-9434  2018-07-19
80500  412,35          11352.26  20/07/2018      SDW-3162  2018-07-20

[80501 rows x 10 columns]

In [ ]:
display(frete)

,data,ID_Cliente,id_veiculo,notafiscal,valor_frete_liquido,kg,valor_mercadoria,data_viagem,placa_veiculo,date_viagem
0,1/1/2018,159,11,945693,"2625,98","48,65",23371.22,01/01/2018,RIV-3153,2018-01-01
1,1/2/2018,292,12,161542,"977,9","366,06",4693.92,02/01/2018,RCU-1767,2018-01-02
2,1/3/2018,543,6,357544,"292,03","490,26",700.87,03/01/2018,TGY-1709,2018-01-03
3,1/4/2018,53,12,498247,"423,45","507,44",3429.94,04/01/2018,RCU-1767,2018-01-04
4,1/5/2018,166,23,770040,"4487,14","479,52",14358.85,05/01/2018,SEL-4612,2018-01-05
...,...,...,...,...,...,...,...,...,...,...
80496,7/16/2018,209,28,744259,"747,62","552,14",6205.25,16/07/2018,SDW-3162,2018-07-16
80497,7/17/2018,233,42,896113,"1546,28","589,76",6803.63,17/07/2018,TCY-4657,2018-07-17
80498,7/18/2018,654,21,503155,"4268,13","581,96",40547.24,18/07/2018,RHM-7270,2018-07-18
80499,7/19/2018,68,33,671646,"3179,45","538,75",7312.74,19/07/2018,SAX-9434,2018-07-19
80500,7/20/2018,796,28,333320,"2027,19","412,35",11352.26,20/07/2018,SDW-3162,2018-07-20

In [ ]:
#dropando coluna viagem

frete = frete.drop(columns=['data_viagem'])

In [ ]:
frete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80501 entries, 0 to 80500
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   data                 80501 non-null  object
 1   ID_Cliente           80501 non-null  int64
 2   id_veiculo           80501 non-null  int64
 3   notafiscal           80501 non-null  int64
 4   valor_frete_liquido  80501 non-null  object
 5   kg                   80501 non-null  object
 6   valor_mercadoria     80501 non-null  float64
 7   placa_veiculo        80501 non-null  object
 8   date_viagem          80501 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 5.5+ MB

In [ ]:
frete['data_corrigida'] = pd.to_datetime(frete['data'], format='%m/%d/%Y')

# Verificando o DataFrame com a data corrigida
print(frete)

            data  ID_Cliente  id_veiculo  notafiscal valor_frete_liquido  \
0       1/1/2018         159          11      945693             2625,98
1       1/2/2018         292          12      161542               977,9
2       1/3/2018         543           6      357544              292,03
3       1/4/2018          53          12      498247              423,45
4       1/5/2018         166          23      770040             4487,14
...          ...         ...         ...         ...                 ...
80496  7/16/2018         209          28      744259              747,62
80497  7/17/2018         233          42      896113             1546,28
80498  7/18/2018         654          21      503155             4268,13
80499  7/19/2018          68          33      671646             3179,45
80500  7/20/2018         796          28      333320             2027,19

           kg  valor_mercadoria placa_veiculo date_viagem data_corrigida
0       48,65          23371.22      RIV-3153  2018-01-01     2018-01-01
1      366,06           4693.92      RCU-1767  2018-01-02     2018-01-02
2      490,26            700.87      TGY-1709  2018-01-03     2018-01-03
3      507,44           3429.94      RCU-1767  2018-01-04     2018-01-04
4      479,52          14358.85      SEL-4612  2018-01-05     2018-01-05
...       ...               ...           ...         ...            ...
80496  552,14           6205.25      SDW-3162  2018-07-16     2018-07-16
80497  589,76           6803.63      TCY-4657  2018-07-17     2018-07-17
80498  581,96          40547.24      RHM-7270  2018-07-18     2018-07-18
80499  538,75           7312.74      SAX-9434  2018-07-19     2018-07-19
80500  412,35          11352.26      SDW-3162  2018-07-20     2018-07-20

[80501 rows x 10 columns]

In [ ]:
#dropando coluna data

frete = frete.drop(columns=['data'])

In [ ]:
frete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80501 entries, 0 to 80500
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_Cliente           80501 non-null  int64
 1   id_veiculo           80501 non-null  int64
 2   notafiscal           80501 non-null  int64
 3   valor_frete_liquido  80501 non-null  object
 4   kg                   80501 non-null  object
 5   valor_mercadoria     80501 non-null  float64
 6   placa_veiculo        80501 non-null  object
 7   date_viagem          80501 non-null  datetime64[ns]
 8   data_corrigida       80501 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(3), object(3)
memory usage: 5.5+ MB

In [ ]:
frete['notafiscal'] = frete['notafiscal'].astype('string')
frete['placa_veiculo'] = frete['placa_veiculo'].astype('string')

In [ ]:
# Passo 1: Substituir as vírgulas por pontos para valores decimais
frete['kg'] = frete['kg'].str.replace(',', '.', regex=False)

# Passo 2: Converter a coluna para tipo numérico (float), ignorando erros
frete['kg'] = pd.to_numeric(frete['kg'], errors='coerce')

In [ ]:
frete.info()
print(frete)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80501 entries, 0 to 80500
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_Cliente           80501 non-null  int64
 1   id_veiculo           80501 non-null  int64
 2   notafiscal           80501 non-null  string
 3   valor_frete_liquido  80501 non-null  object
 4   kg                   80501 non-null  float64
 5   valor_mercadoria     80501 non-null  float64
 6   placa_veiculo        80501 non-null  string
 7   date_viagem          80501 non-null  datetime64[ns]
 8   data_corrigida       80501 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(2), object(1), string(2)
memory usage: 5.5+ MB
       ID_Cliente  id_veiculo notafiscal valor_frete_liquido      kg  \
0             159          11     945693             2625,98   48.65
1             292          12     161542               977,9  366.06
2             543           6     357544              292,03  490.26
3              53          12     498247              423,45  507.44
4             166          23     770040             4487,14  479.52
...           ...         ...        ...                 ...     ...
80496         209          28     744259              747,62  552.14
80497         233          42     896113             1546,28  589.76
80498         654          21     503155             4268,13  581.96
80499          68          33     671646             3179,45  538.75
80500         796          28     333320             2027,19  412.35

       valor_mercadoria placa_veiculo date_viagem data_corrigida
0              23371.22      RIV-3153  2018-01-01     2018-01-01
1               4693.92      RCU-1767  2018-01-02     2018-01-02
2                700.87      TGY-1709  2018-01-03     2018-01-03
3               3429.94      RCU-1767  2018-01-04     2018-01-04
4              14358.85      SEL-4612  2018-01-05     2018-01-05
...                 ...           ...         ...            ...
80496           6205.25      SDW-3162  2018-07-16     2018-07-16
80497           6803.63      TCY-4657  2018-07-17     2018-07-17
80498          40547.24      RHM-7270  2018-07-18     2018-07-18
80499           7312.74      SAX-9434  2018-07-19     2018-07-19
80500          11352.26      SDW-3162  2018-07-20     2018-07-20

[80501 rows x 9 columns]

In [ ]:
# Passo 1: Substituir as vírgulas por pontos para valores decimais
frete['valor_frete_liquido'] = frete['valor_frete_liquido'].str.replace(',', '.', regex=False)

# Passo 2: Converter a coluna para tipo numérico (float), ignorando erros
frete['valor_frete_liquido'] = pd.to_numeric(frete['valor_frete_liquido'], errors='coerce')

frete['valor_frete_liquido'] = frete['valor_frete_liquido'].round(2)

In [ ]:
frete.info()
print(frete)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80501 entries, 0 to 80500
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_Cliente           80501 non-null  int64
 1   id_veiculo           80501 non-null  int64
 2   notafiscal           80501 non-null  string
 3   valor_frete_liquido  80501 non-null  float64
 4   kg                   80501 non-null  float64
 5   valor_mercadoria     80501 non-null  float64
 6   placa_veiculo        80501 non-null  string
 7   date_viagem          80501 non-null  datetime64[ns]
 8   data_corrigida       80501 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int64(2), string(2)
memory usage: 5.5 MB
       ID_Cliente  id_veiculo notafiscal  valor_frete_liquido      kg  \
0             159          11     945693              2625.98   48.65
1             292          12     161542               977.90  366.06
2             543           6     357544               292.03  490.26
3              53          12     498247               423.45  507.44
4             166          23     770040              4487.14  479.52
...           ...         ...        ...                  ...     ...
80496         209          28     744259               747.62  552.14
80497         233          42     896113              1546.28  589.76
80498         654          21     503155              4268.13  581.96
80499          68          33     671646              3179.45  538.75
80500         796          28     333320              2027.19  412.35

       valor_mercadoria placa_veiculo date_viagem data_corrigida
0              23371.22      RIV-3153  2018-01-01     2018-01-01
1               4693.92      RCU-1767  2018-01-02     2018-01-02
2                700.87      TGY-1709  2018-01-03     2018-01-03
3               3429.94      RCU-1767  2018-01-04     2018-01-04
4              14358.85      SEL-4612  2018-01-05     2018-01-05
...                 ...           ...         ...            ...
80496           6205.25      SDW-3162  2018-07-16     2018-07-16
80497           6803.63      TCY-4657  2018-07-17     2018-07-17
80498          40547.24      RHM-7270  2018-07-18     2018-07-18
80499           7312.74      SAX-9434  2018-07-19     2018-07-19
80500          11352.26      SDW-3162  2018-07-20     2018-07-20

[80501 rows x 9 columns]

In [ ]:
frete.duplicated().any()

False

In [ ]:
#salvando em CSV
frete.to_csv('dados_corrigidos_frete.csv', index=False)